name: Gitlint

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  gitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 20
      - uses: g4s8/gitlint-action@0.2
        with:
          since: "2020-03-30"
          pattern: '(chore|docs|feat|fix|refactor|tests?)(\([^\)]+\))?: .*'
